<!-- <h1>Blog Home!</h1> -->
<!-- looping through the posts dict that we defined in the views.py file -->
<!-- the remainder of the html is inherited from the base.html -->
<!-- the for-loop below overrides the block content -->
{%  extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <!-- accessing vars with double curly -->
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
<!-- dont need to explicitelty state which  -->
<!-- block we're ending but can be good to keep track  -->
{% endblock content %}

